# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Django
db.sqlite3
media/

# Environment
.env

# Agent files
agent_config.json

# Chrome profile
chrome_profile/
AutoSocialAI/

# Screenshots
screenshots/
runtime/screenshots/

# Build / dist
build/
dist/
*.spec

# Celery
celerybeat-schedule*

# OS files
.DS_Store
Thumbs.db

history